* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: none;
    box-sizing: border-box;
}

/*------- ROOT -------*/
:root {
    --body-background: #0e0e0e;
    --color-logo: #ff5b50;
    --card-color: #252525;
    --text-color: #fff;
    --subtitle-color: #5a5757;
    --black-text: #000;
    --color-input: #0D0D0D;
}

/*-------- PADRÃO -------*/
h1 {
    font: 600 1.9rem 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: var(--text-color);
}

p,
a {
    color: var(--subtitle-color);
    font: 500 0.8rem 'Poppins', sans-serif;
}

body {
    background: var(--body-background);
}

span {
    color: var(--color-logo);
}

.divider {
    width: 100%;
    margin: 1rem 0;
    border-bottom: 1px solid rgb(99, 94, 94);
}

/*---- HOME -----*/
main {
    width: 100%;
    height: auto;
    background: url(./assets/background.png) no-repeat center;
    padding-bottom: 4rem;
}

/*---- links ----*/
#header .links {
    display: flex;
    justify-content: center;
}

#header .links .link {
    padding: 0 0.5rem;
}

#header .links .link:hover {
    color: #fff;
}

/*---- logo and button ----*/
.headerMenu {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0.5rem;
}

.connectWallet {
    padding: 0.5rem 1rem;
    background-color: var(--text-color);
    border: none;
    border-radius: 10px;
    color: var(--black-text);
    font: 700 0.5rem 'Poppins', sans-serif;
    letter-spacing: 1px;
    outline: none;
    transition: all 0.7s;
    cursor: pointer;
}

.connectWallet:hover {
    background: #e01a0c;
    color: #fff;
    transform: scale(1.1);
}

/*---- home ----*/
#home {
    margin: 2rem 1rem;
}

.text p {
    padding: 1rem 0;
}

/*---- group avatars ---*/
.groupAvarts {
    display: flex;
    margin-left: 0.3rem;
}

.groupAvarts img {
    width: 6rem;
    height: 3rem;
    margin: 0.2rem 0.7rem 1rem 0;
}

.groupAvarts legend h1 {
    font-size: 1rem;
    margin-top: 0.5rem;
}

/*--- table ---*/
.table td img {
    margin-left: 5px;
    width: 5.4rem;
    border: 1px solid #fff;
    transition: all 0.7s;
}

.table td img:hover {
    transform: scale(1.1);
    border: 2px solid var(--color-logo);
}

/*----- ARTIST (is not visibily in mobile) ------*/
#artists {
    display: none;
    opacity: 0;
    z-index: 0;
}

/*------- POPULAR OF THE WEEK -----*/
#popularOfTheWeek {
    padding: 3rem 1rem;
    background: #000;
}

.containerPopularWeek {
    text-align: center;
}

.containers {
    margin: 2rem 0;
}

.containerPopularWeek img {
    width: 13rem;
}

.firstLine,
.secondLine {
    display: flex;
    justify-content: center;
    padding: 0.2rem 0;
}

.p-popularOfTheWeek {
    color: #fff;
    font: 500 1.2rem 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.firstLine img {
    width: 1rem;
    height: 0.8rem;
    margin: 0.3rem 0 0 4.3rem;
    transition: all 0.7s;
}

.firstLine img:hover {
    transform: translateX(-15px);
    border-bottom: 1px solid #fff;
}

.secondLine p {
    padding-right: 5rem;
    font-style: italic;
}

.secondLine .p-jakeliny {
    padding-right: 5.7rem;
}

.secondLine .joaoInacio {
    padding-right: 4rem;
}

.secondLine .mayk {
    padding-right: 4.7rem;
}

/*---- BEST ARTIST -----*/
#bestArtist {
    margin: 4rem 0 5rem 0;
    height: auto;
}

#bestArtist h1 {
    margin: 0 2rem;
}

.card {
    width: 11.2rem;
    height: 5rem;
    background: var(--card-color);
    display: flex;
}

.card p {
    color: #fff;
    letter-spacing: 2px;
    font: 500 0.8rem 'Roboto', sans-serif;
    margin: 1.3rem 0 1rem 0.5rem;
}

.card p span {
    font-style: italic;
}

.card img {
    width: 2.5rem;
    height: 2.5rem;
    margin: 1.2rem 0 0 0.3rem;
}

.jakeliny {
    background: var(--color-logo);
    color: #FFF;
}

.jakeliny span {
    color: #000;
    font-weight: 700;
}

.swiper {
    width: 90vw;
    height: auto;
    margin: 1rem 0;
    justify-content: left;
}

.swiper-slide {
    margin: 2rem 0.7rem;
    padding: 2rem 0;
}

.seeAllArtist {
    color: #FFF;
    letter-spacing: 2px;
    text-align: center;
    margin: 1.5rem 0;
}

.seeAllArtist img {
    padding: 0 0.3rem;
    width: 20px;
    transition: all 0.7s;
}

.seeAllArtist img:hover {
    transform: translateX(-7px);
}


/*---- FOOTER -----*/
#footer {
    width: 100%;
    height: auto;
    background-color: var(--card-color);
}

.footer {
    padding: 2rem 0;
}

.lineFooter {
    margin: 2rem;
    display: flex;
    justify-content: space-between;
}

.lineFooter h1 {
    margin-top: 0.5rem;
}

.button {
    background: url(./assets/arrow-black.svg) no-repeat center;
    background-color: var(--color-logo);
    padding: 1.5rem 2rem;
    transition: all 0.7s;
    cursor: pointer;
}

.button:hover {
    background-color: #e01a0c;
    transform: translateY(-8px);
    border-radius: 100%;
}

.textFooter {
    margin: 5rem auto;
    text-align: center;
}

.textFooter p {
    font: 500 1.5rem 'Poppins', sans-serif;
    color: #FFF;
    letter-spacing: 1px;
}

/*-- INPUTS ---*/
.input {
    margin: 3rem 0;
}

input[type=email] {
    width: 15rem;
    padding: 0.5rem 2rem;
    background-color: #000;
    color: #FFF;
    transition: all 0.7s;
}

button[type=submit] {
    width: 5rem;
    padding: 0.5rem 1rem;
}

button[type=submit],
input[type=email] {
    outline: none;
    border: none;
    font: 700 1rem 'Poppins', sans-serif;
    cursor: pointer;
    transition: all 0.7s;
}

input[type=email]:hover,
button[type=submit]:hover {
    box-shadow: 0 0 10px #fff;
    border-radius: 5px;
    transform: scale(1.1);
}

/*--- TABLE ----*/
.tableFooter tr td {
    padding: 0.5rem 1.5rem;
}

.textFooter {
    margin: 1rem auto;
}

.firstLineTable td p {
    font: 700 1.1rem 'Roboto', sans-serif;
    color: #FFF;
}

.otherLines td p {
    font: 500 0.9rem 'Roboto', sans-serif;
    transition: all 0.7s;
    cursor: pointer;
}

.otherLines td p:hover {
    color: var(--color-logo);
}

.lastLine {
    display: flex;
    justify-content: center;
}

.lastLine p {
    transition: all 0.7s;
    cursor: pointer;
}

.lastLine p:hover {
    color: #FFF;
}

.icons {
    cursor: pointer;
    padding-left: 2rem;
}

.icons img {
    width: 1.3rem;
    margin-left: 0.5rem;
    transition: all 0.7s;
}

.icons img:hover {
    transform: translateY(-8px);
}

/*--- MIN WIDTH 400PX --------*/
@media (min-width: 400px) {

    /*---- table ----*/
    .table td img {
        width: 5.4rem;
    }

    /*---- BEST ARTIST -----*/
    .card {
        width: 13rem;
    }

    .swiper-slide {
        margin: 1rem 0.9rem;
    }
}

/*--- MIN WIDTH 430PX --------*/
@media (min-width: 430px) {

    /*---- table ----*/
    .table {
        margin-left: 4px;
    }

    .table td img {
        width: 6rem;
        margin-left: 3px;
    }
}

/*--- MIN WIDTH 450PX --------*/
@media (min-width: 450px) {

    /*---- table ----*/
    .table td img {
        width: 6.3rem;
    }

    .table {
        margin-left: 4px;
    }

    /*--- footer ---*/
    .icons {
        padding-left: 1rem;
    }
}

/*--- MIN WIDTH 470PX --------*/
@media (min-width: 470px) {

    /*---- table ----*/
    .table td img {
        width: 6.5rem;
    }

    .table {
        margin-left: 0.8rem;
    }
}

/*--- MIN WIDTH 500PX --------*/
@media (min-width: 500px) {

    /*---- table ----*/
    .table td img {
        width: 6.8rem;
    }

    /*---- popular of week ---*/
    .containerPopularWeek img {
        width: 16rem;
    }

    .firstLine,
    .secondLine {
        padding: 0.3rem 0;
    }

    .firstLine img {
        width: 1rem;
        height: 0.8rem;
        margin: 0.3rem 0 0 7.5rem;
        transition: all 0.7s;
    }

    .secondLine p {
        padding-right: 8.6rem;
    }

    .secondLine .p-jakeliny {
        padding-right: 9rem;
    }

    .secondLine .joaoInacio {
        padding-right: 7rem;
    }

    .secondLine .mayk {
        padding-right: 7.8rem;
    }

    /*---- card ----*/
    .card {
        width: auto;
    }

    .card img {
        margin: 1.2rem 0 0 0.6rem;
    }

    /*--- footer ---*/
    .icons {
        padding-left: 1.5rem;
    }

    .icons img {
        margin-left: 10px;
    }
}

/*--- MIN WIDTH 550PX --------*/
@media (min-width: 550px) {

    #home {
        margin: 3rem 1.5rem 2rem 2rem;
    }

    #popularOfTheWeek h1 {
        margin: 0 1rem 1rem 1rem
    }

    .connectWallet {
        padding: 0.5rem 2.3rem;
    }

    /*---- table ----*/
    .table td img {
        width: 7.2rem;
    }

    .table {
        margin: 0 1rem 0 2rem;
    }
}

/*--- MIN WIDTH 600PX --------*/
@media (min-width: 600px) {

    /*---- table ----*/
    .table td img {
        width: 7.5rem;
    }

    .table tr td {
        padding: 0.2rem;
    }

    /*--- footer ---*/
    .icons {
        margin-left: 6rem;
    }

    .tableFooter tr td {
        padding: 0.5rem 3rem
    }
}

/*--- MIN WIDTH 650PX --------*/
@media (min-width: 650px) {
    .groupAvarts {
        margin-left: 0.5rem;
    }

    /*---- table ----*/
    .table td img {
        width: 7.9rem;
    }
}

/*--- MIN WIDTH 700PX --------*/
@media (min-width: 700px) {
    .text {
        margin-right: 0.8rem;
    }

    /*---- table ----*/
    .table td img {
        width: 9rem;
    }
}

/*--- MIN WIDTH 750PX --------*/
@media (min-width: 750px) {

    /*---- table ----*/
    .table td img {
        width: 9.5rem;
    }
}

/*--- MIN WIDTH 800PX --------*/
@media (min-width: 800px) {
    .headerMenu {
        padding: 0.8rem;
    }

    /*---- table ----*/
    .table td img {
        width: 10.5rem;
    }
}

/*--- MIN WIDTH 850PX --------*/
@media (min-width: 850px) {

    /*---- group avatars ---*/
    .groupAvarts img {
        width: 7rem;
        height: 3rem;
    }

    /*---- table ----*/
    .table td img {
        width: 11.2rem;
    }

    /*---- popular of week ---*/
    .containerPopularWeek img {
        width: auto;
    }

    .firstLine img {
        width: 1.2rem;
        height: 0.8rem;
        margin: 0.4rem 0 0 13rem;
        transition: all 0.7s;
    }

    .secondLine p,
    .secondLine .p-jakeliny {
        padding-right: 14.5rem;
    }

    .secondLine .joaoInacio {
        padding-right: 13rem;
    }

    .secondLine .mayk {
        padding-right: 13.5rem;
    }
}

/*---- MIN WIDTH 900PX ----*/
@media (min-width: 900px) {

    /*---- header ---*/
    .connectWallet {
        padding: 1rem 3.5rem;
        font-size: 0.8rem;
    }

    /*--- home ---*/
    .table td img {
        width: 12rem;
    }

    /*--- footer ---*/
    .icons {
        margin-left: 13rem;
    }

    .tableFooter tr td {
        padding: 0.5rem 4.7rem
    }
}

/*---- MIN WIDTH 950PX ----*/
@media (min-width: 950px) {

    /*--- home ---*/
    .table td img {
        width: 12.7rem;
    }
}

/*---- MIN WIDTH 1000PX ----*/
@media (min-width: 1000px) {

    /*--- home ---*/
    .table td img {
        width: 13.6rem;
    }
}

/*---- MIN WIDTH 1000PX ----*/
@media (min-width: 1000px) {
    /*--- home ---*/
    .table td img {
        width: 13.9rem;
    }

    .text p {
        font-size: 1rem;
    }

}

/*---- MIN WIDTH 1050PX ----*/
@media (min-width: 1050px) {
    .table tr td {
        padding: 5px 0.5rem;
    }
}

/*---- MIN WIDTH 1100PX ----*/
@media (min-width: 1100px) {
    .table tr td {
        padding: 5px 0.7rem;
    }

    .table td img {
        width: 14.5rem;
        height: 7rem
    }
}

/*---- MIN WIDTH 1150PX ----*/
@media (min-width: 1150px) {
    .table tr td {
        padding: 5px 0.9rem;
    }
}

/*---- MIN WIDTH 1200PX ----*/
@media (min-width: 1200px) {
    .table tr td {
        padding: 5px 1.2rem;
    }
}

/*---- MIN WIDTH 1250PX -----*/
@media (min-width:1250px) {
    #home {
        margin: 2rem 4rem;
    }

    .table {
        margin: 2rem 3rem;
    }

    .table td img {
        width: 15.2rem;
    }
}